<ng-container>
    <button (click)="get404Error()" class="btn btn-outline-primary mr-3">404 Error - Not Found</button>
    <button (click)="get401Error()" class="btn btn-outline-primary mr-3">401 Error - Authentication</button>
    <button (click)="get400Error()" class="btn btn-outline-primary mr-3">400 Error - Bad Request</button>
    <button (click)="get400ValidationError()" class="btn btn-outline-primary mr-3">400 Error - Validation Error</button>
    <button (click)="get500Error()" class="btn btn-outline-primary mr-3">500 Error - Server Error</button>

</ng-container>